<!DOCTYPE html>
<html>
<head>
  <title>Rainfall - Edit site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="1057339998133-s3tu6kedq3m2m6q466vcnrrmnhi6njp5.apps.googleusercontent.com">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/edit.css">

  <script>
    function init() {
      console.log('init');
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://rainfall.dev/destroy');
        xhr.onload = function() {
          window.location.href = '/';
        };
        xhr.send();
      });
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

  <script>
    function confirmDelete() {
      if (confirm('Are you sure you want to delete this site? Your login ' +
                     'information will also be deleted. Any deployments of ' + 
                     'this site to Netlify will remain active.')) {
        signOut();
      }
      return false;
    }
  </script>
</head>
<body>
  <div class="container-fluid full-height">
    <div class="row full-height">
      <div class="col-4">
        <h2>Edit site</h2>
        <div class="form-group">
          <button type="submit" class="btn btn-danger"
                  onclick="return confirmDelete()">Delete site</button>
        </div>
      </div>
      <div class="col">
        <iframe src="https://{{site['site_id']}}.rainfall.dev" width="100%" height="100%">
      </div>
    </div>
  </div>
</body>
</html>
