<!DOCTYPE html>
<html>
<head>
  <title>Rainfall - Edit site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="1057339998133-s3tu6kedq3m2m6q466vcnrrmnhi6njp5.apps.googleusercontent.com">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/edit.css">

  <script>
    function init() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://rainfall.dev/destroy');
        xhr.onload = function() {
          window.location.href = '/';
        };
        xhr.send();
      });
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

</head>
<body>
  <div class="container-fluid full-height">
    <div class="row full-height">
      <div class="col-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Rainfall</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li id="new-nav" class="nav-item active">
                <a class="nav-link" href="#new">New Song</a>
              </li>
              <li id="songs-nav" class="nav-item">
                <a class="nav-link" href="#songs">Songs</a>
              </li>
              <li id="site-nav" class="nav-item">
                <a class="nav-link" href="#site">Site</a>
              </li>
            </ul>
          </div>
        </nav>

        <div id="new" class="section">
          <h1>New song</h1>
        </div>

        <div id="songs" class="section" style="display: none;">
          <h1>Edit songs</h1>
        </div>

        <div id="site" class="section" style="display: none;">
          <form class="mt-3"
                method="POST" action="/update">
            <div class="form-group">
              <label for="site-header">Site header</label>
              <textarea class="form-control" rows="4" id="site-header" name="header">{{site['header']}}</textarea>
            </div>

            <div class="form-group">
              <label for="site-header">Site footer</label>
              <textarea class="form-control" rows="4" id="site-header" name="footer">{{site['footer']}}</textarea>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>

          <hr>

          <button class="btn btn-danger" data-toggle="collapse"
                  data-target="#dangerous" aria-expanded="false"
                  aria-controls="dangerous">
            Danger zone
          </button>
          <div id="dangerous" class="form-group collapse">
            <div class="card card-body mt-3">
              <p>
                By clicking the button below, you will permanently delete your
                site from Rainfall. Additionally, your login information will
                be removed from the system. You are always welcome to sign up
                again and start over.
              </p>
              <p>
                If you've deployed your site to the wider internet using
                Netlify, the deployed site will remain live.
              </p>
              <button class="btn btn-danger" onclick="return confirmDelete()">
                Delete site
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <iframe src="https://{{site['site_id']}}.rainfall.dev" width="100%" height="100%"></iframe>
      </div>
    </div>
  </div>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

  <script>
    function confirmDelete() {
      if (confirm('Are you sure you want to permanently delete this site? ' +
                  'Your login information will also be deleted.')) {
        signOut();
      }
      return false;
    }

    $(function() {
      function updateFromHash() {
        var hash = location.hash || '#new';

        $('.section').hide();
        $(hash).show();

        $('.nav-item').removeClass('active');
        $(hash + '-nav').addClass('active');
      }

      $(window).on('hashchange', updateFromHash);
      updateFromHash();
   });
  </script>
</body>
</html>
