<!DOCTYPE html>
<html>
<head>
  <title>Rainfall - Create a new site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="1057339998133-s3tu6kedq3m2m6q466vcnrrmnhi6njp5.apps.googleusercontent.com">

  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  <script>
    function init() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        window.location.href = '/signout';
      });
    }
  </script>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/new.css">
</head>
<body>
  <div class="container">
    <div class="new-card">
      <h3 class="mb-3">You are logged in as:</h3>
      <div class="row mb-3">
        <div class="col-sm">
          <div class="user-picture" style="background-image: url('{{user['picture']}}');"></div>
        </div>
        <div class="col-sm">
          <div class="user-name">{{user['name']}}</div>
          <div class="user-email">{{user['email']}}</div>
        </div>
      </div>
      <div class="logout">
        <a href="#" onClick="signOut();">Not you? Logout</a>
      </div>
    </div>
    <div class="new-directions">
      <div class="row">
        <div class="col-6 offset-md-3">
          <p>
            When you click 'Create my site' below, a new, empty song container
            site will be created for you. It will contain no music or songs by
            default, until you add some. It also won't be published anywhere on
            the web besides this site, where you will have to be logged in with
            your Google account to view it.
          <p>
          <p>
            Eventually, after you add songs to your site and customize it to your
            liking, you will be able to publish the site to
            <a href="https://www.netlify.com">Netlify</a>, where it will be
            hosted for free and will be visible to the public web. At that point
            you can customize the domain name under which it appears.
          </p>
        </div>
      </div>
      <div class="new-card">
        <form action="/create" method="POST">
          <div class="form-group">
            <div class="form-check mb-3">
              {% if errors and 'terms' in errors %}
                <div style="color: red">You must agree to the terms.</div>
              {% endif %}
              <input type="checkbox" class="form-check-input {{'is-invalid' if errors and 'terms' in errors else ''}}" id="terms-check"
                     name="terms-check">
              <label class="form-check-label" for="terms-check">
                I agree to the <a href="/terms">terms of use</a>
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Create my site</button>
          </div>
        </form>
      </div>
  </div>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
