{% extends "site/base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/dist/fa-svg-with-js.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Roboto">
  <link rel="stylesheet" href="static/css/style.css">
{% endblock stylesheets %}

{% block content %}
<header>
  {{header}}
</header>

<ul>
{% for song in songs %}
  {% include 'site/song_block.html' %}
{% endfor %}
</ul> 
{% endblock content %}
